# Optimal Topic Extraction

This notebook extracts the optimal topic values from .csv output files.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
import os

%pwd

'/content'

In [ ]:
%cd 'drive'
%cd 'My Drive'
%cd 'MLResearchProject'
%cd 'Prototype 2.0'
%cd 'Fixed'
#os.chdir('..')

/content/drive
/content/drive/My Drive
/content/drive/.shortcut-targets-by-id/1vm2aLzdpci8cKMrtS3X1S57oTdxizmWG/MLResearchProject
/content/drive/.shortcut-targets-by-id/1vm2aLzdpci8cKMrtS3X1S57oTdxizmWG/MLResearchProject/Prototype 2.0
/content/drive/.shortcut-targets-by-id/1vm2aLzdpci8cKMrtS3X1S57oTdxizmWG/MLResearchProject/Prototype 2.0/Fixed

In [ ]:
data = pd.read_csv('Results100_1303.csv')
data.head()

   Unnamed: 0  Topic     Ratio  Topic.1  ...  Topic.98  Ratio.98  Topic.99  Ratio.99
0           0   49.0  0.755102     54.0  ...      65.0  0.584615        59  0.610169
1           1   37.0  0.756757     39.0  ...      38.0  0.868421        36  0.944444
2           2   28.0  1.000000     32.0  ...      33.0  0.909091        34  0.941176
3           3    NaN       NaN     29.0  ...      30.0  1.000000        32  0.906250
4           4    NaN       NaN     27.0  ...       NaN       NaN        29  0.931034

[5 rows x 201 columns]

In [ ]:
data = data.drop(columns=['Unnamed: 0','Ratio','Ratio.1','Ratio.2','Ratio.3','Ratio.4','Ratio.5','Ratio.6','Ratio.7','Ratio.8','Ratio.9','Ratio.10','Ratio.11','Ratio.12','Ratio.13','Ratio.14','Ratio.15','Ratio.16','Ratio.17','Ratio.18','Ratio.19','Ratio.20','Ratio.21','Ratio.22','Ratio.23','Ratio.24','Ratio.25','Ratio.26','Ratio.27','Ratio.28','Ratio.29','Ratio.30','Ratio.31','Ratio.32','Ratio.33','Ratio.34','Ratio.35','Ratio.36','Ratio.37','Ratio.38','Ratio.39','Ratio.40','Ratio.41','Ratio.42','Ratio.43','Ratio.44','Ratio.45','Ratio.46','Ratio.47','Ratio.48','Ratio.49','Ratio.50','Ratio.51','Ratio.52','Ratio.53','Ratio.54','Ratio.55','Ratio.56','Ratio.57','Ratio.58','Ratio.59','Ratio.60','Ratio.61','Ratio.62','Ratio.63','Ratio.64','Ratio.65','Ratio.66','Ratio.67','Ratio.68','Ratio.69','Ratio.70','Ratio.71','Ratio.72','Ratio.73','Ratio.74','Ratio.75','Ratio.76','Ratio.77','Ratio.78','Ratio.79','Ratio.80','Ratio.81','Ratio.82','Ratio.83','Ratio.84','Ratio.85','Ratio.86','Ratio.87','Ratio.88','Ratio.89','Ratio.90','Ratio.91','Ratio.92','Ratio.93','Ratio.94','Ratio.95','Ratio.96','Ratio.97','Ratio.98','Ratio.99'])

In [ ]:
data.head()

   Topic  Topic.1  Topic.2  Topic.3  ...  Topic.96  Topic.97  Topic.98  Topic.99
0   49.0     54.0     52.0     61.0  ...      68.0      58.0      65.0        59
1   37.0     39.0     35.0     37.0  ...      37.0      35.0      38.0        36
2   28.0     32.0     31.0     28.0  ...      28.0      31.0      33.0        34
3    NaN     29.0     29.0      NaN  ...       NaN      29.0      30.0        32
4    NaN     27.0     27.0      NaN  ...       NaN      27.0       NaN        29

[5 rows x 100 columns]

In [ ]:
rows = data.shape[0]
columns = data.shape[1]

data.shape

(7, 100)

In [ ]:
new_data = pd.DataFrame(data=None, columns=['Optimal Topic Number'])
new_data.head()

Empty DataFrame
Columns: [Optimal Topic Number]
Index: []

In [ ]:
import numpy as np

for column in range(0,columns):
  for row in range(0,rows):
    if (np.isnan(data.iloc[row][column]) == True):
      x = data.iloc[row-1][column]
      break
    elif (row == rows-1):
      x = data.iloc[row][column]
      break
  new_data.loc[column] = x

In [ ]:
new_data.head()

   Optimal Topic Number
0                  28.0
1                  26.0
2                  26.0
3                  28.0
4                  26.0

In [ ]:
new_data.shape

(100, 1)

In [ ]:
%pwd

'/content/drive/.shortcut-targets-by-id/1vm2aLzdpci8cKMrtS3X1S57oTdxizmWG/MLResearchProject'

In [ ]:
os.chdir("..")

In [ ]:
#%cd 'content'
#%cd 'drive'
#%cd 'My Drive'
#%cd 'MLResearchProject'
%cd 'Optimal Topic Values'

/content/drive/.shortcut-targets-by-id/1vm2aLzdpci8cKMrtS3X1S57oTdxizmWG/MLResearchProject/Optimal Topic Values

In [ ]:
new_data.to_csv('Optimal_Topics_1303q.csv')